@{
    ViewData["Title"] = "Games";
}

<div class="wrapper">
    <h1>Welcome to the Game Index!</h1>
    <a asp-action="NewGame" asp-controller="Rallypoint">
        <button class="uk-button uk-button-primary">Add Game</button>
    </a>
    <hr>
    <h2>My Games</h2>
        <div class="uk-grid">
            @foreach(var game in ViewBag.userGames){
            <div class="uk-card">
                <h3 class="uk-card-title">@game.date</h3>
                <div class="uk-card-body">@game.address</div>
                @if(game.playeroneId == ViewBag.userId){
                <form asp-controller="Rallypoint" asp-action="DeleteGame" asp-route-Id="@game.Id">
                    <button class="uk-button uk-button-danger">Delete</button>
                </form>
                } else {
                <form asp-controller="Rallypoint" asp-action="JoinGame"       asp-route-GameId="@game.Id" asp-route-join="false"><button class="uk-button uk-button-primary">Leave</button></form>
                }
                <form asp-controller="Rallypoint" asp-action="DeleteGame" asp-route-Id="@game.Id"><button class="uk-button uk-button-danger">Delete</button></form>
                <a href="/gameinfo/@game.Id"><button class="uk-button uk-button-default">View</button></a>
            </div>
            }
        </div>
    <hr>
    <h2>Available Games</h2>
        <div class="uk-grid">
            @foreach(var game in ViewBag.availableGames){
            <div class="uk-card">
                <h3 class="uk-card-title">@game.date</h3>
                <div class="uk-card-body">@game.address</div>
                <form asp-controller="Rallypoint" asp-action="JoinGame"       asp-route-GameId="@game.Id" asp-route-join="true"><button class="uk-button uk-button-primary">Join</button></form>
            </div>
            }
        </div>
    <hr>
    <h2>Other Games</h2>
        <div class="uk-grid">
            @foreach(var game in ViewBag.otherGames){
            <div class="uk-card">
                <h3 class="uk-card-title">@game.date</h3>
                <div class="uk-card-body">@game.address</div>
            </div>
            }
        </div>
</div>